.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  position: relative;
}

.container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  padding: 2vw 2vw calc(10vh + 2vw) 1vw;
}

.container section h1 {
  font-size: 6vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media screen and (min-width: 1200px) {
  .container section {
    width: 85vw;
  }
}
